# A good part of these dependencies are not actually used
# by GAUDInspect, but by components used in ChemLab.
# For example, the iPython integration demands its installation
# and that's a lot of packages we don't need. Anyway, here it is
# for completeness.
cclib==1.3
certifi==14.05.14
chemlab==0.4.1
chemview==0.3
decorator==4.0.4
distribute==0.6.45
fontconfig==2.11.1
freeglut==2.8.1
freetype==2.5.2
gaudinspect==0.0.1
ipykernel==4.1.0
ipython==4.0.0
ipython-genutils==0.1.0
ipython-notebook==4.0.4
ipython_genutils==0.1.0
jinja2==2.8
jpeg==8d
jsonschema==2.4.0
jupyter-client==4.1.1
jupyter-core==4.0.6
jupyter_client==4.1.1
jupyter_core==4.0.6
libgfortran==1.0
libpng==1.6.17
libsodium==0.4.5
libtiff==4.0.2
libxml2==2.9.2
llvmlite==0.7.0
markupsafe==0.23
matplotlib==1.4.3
mistune==0.7.1
nbconvert==4.0.0
nbformat==4.0.1
notebook==4.0.6
numba==0.21.0
numpy==1.9.3
openblas==0.2.14
openssl==1.0.1k
path.py==8.1.2
pexpect==3.3
pickleshare==0.5
pillow==3.0.0
pip==7.1.2
ptyprocess==0.4
pygments==2.0.2
pyopengl==3.1.1a1
pyparsing==2.0.3
pyqt==4.11.4
pyside-pyzo==1.2.1
python==3.4.3
python-dateutil==2.4.2
pytz==2015.6
pyyaml==3.11
pyzmq==14.7.0
qt==4.8.7
readline==6.2
scipy==0.16.0
setuptools==18.4
simplegeneric==0.8.1
sip==4.16.9
six==1.10.0
sqlite==3.8.4.1
system==5.8
terminado==0.5
tk==8.5.18
tornado==4.2.1
traitlets==4.0.0
wheel==0.26.0
xz==5.0.5
yaml==0.1.6
zeromq==4.0.5
zlib==1.2.8